.App{
  max-width: 1600px;
  margin: 0 auto;
}.div-form-container {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;


  .div-main {
    display: flex;
    flex-direction: column;
  }

  .div-form {
    width: 600px;
    margin: 20vh 0;
  }

}

.button {
  background-color: #827CFF;
}

.div-footer {
  padding-top: 10vh;
  background-color: #000000;
  color: white;
  padding-bottom: 10vh;
}
