:root {
    --font-family:sans-serif;
    
    /*Color variables*/
    --white-color: #FBFBFB;
    --black-color: #1E1E1E;
    --primary-color: #F8AD15;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: #FBFBFB;
   
    
}
